 <!-- create form for creating a puppy -->
<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <form method="POST" action="/puppy">
      <label for="name">Puppy Name</label>
      <label for="breed">Breed</label>
      <label for="age">Age</label>
      <input type="submit">
    </form>
  </body>

</html>
